{% extends 'base.html' %}

{% block content %}
  <h1>EDIT: {{ articles.Station_Code }}</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form action="" method="POST">
      {{ form.hidden_tag() }}
    <div class="form-group">
      {{ render_field(form.Station_Code, class ="form-control") }}
    </div>

    <div class="form-group">
      {{ render_field(form.Station_Name, class ="form-control") }}
    </div>

    <div class="form-group">
      {{ render_field(form.Location, class ="form-control") }}
    </div>

    <div class="form-group">
      {{ render_field(form.Month, class ="form-control") }}
    </div>

    <div class="form-group">
      {{ render_field(form.Day, class ="form-control") }}
    </div>

    <div class="form-group">
      {{ render_field(form.Year, class ="form-control") }}
    </div>

    <div class="form-group">
      {{ render_field(form.Weather, class ="form-control") }}
    </div>

    <div class="form-group">
      {{ render_field(form.PC, class ="form-control") }}
    </div>

    <div class="form-group">
      {{ render_field(form.Client, class ="form-control") }}
    </div>

    <div class="form-group">
      {{ render_field(form.Type, class ="form-control") }}
    </div>

    <div class="form-group">
      {{ render_field(form.Longitude, class ="form-control") }}
    </div>

    <div class="form-group">
      {{ render_field(form.Latitude, class ="form-control") }}
    </div>

    <p><input class="btn btn-primary" type="submit" value="Update"></p>
  </form>
{% endblock %}
